@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
    font-family:'DM Sans' ,monospace;
    background-color: lightslategray;
}

.recipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* For index.html images and text links */
.home {
    text-align: center;
}

.recipe-links{
    width:200px;
    /*display: inline-block;*/
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    font-size: 17px;
    font-weight: 900;
}

/* Removes list style */
a.rmv-def-style {
    text-decoration: none;
    color: inherit;
}

.recipe-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 1.5rem;
    justify-content: center;
}


.ingredient-list{
    text-align: center;
}

ul, ol {
    display: inline-block;
    text-align: left;
}



.homepage {
    color: powderblue;
    font-size: 42px;
}

p {
    width: 40vw;
    font-size: 14px;
}

li {
    width: 40vw;
    overflow-wrap: break-word;
    height: auto;
    font-size: large;
}