@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
    font-family: monospace;
    background-color: lightslategray;
}

.home, .recipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ingredient-list{
    text-align: center;
}

ul, ol {
    
    display: inline-block;
    text-align: left;
}


#homelist {
    font-size: x-large;
}

.homepage {
    color: powderblue;
    font-size: 42px;
}

p {
    width: 40vw;
    font-size: 14px;
}

h2 {
    font-size: 20px;
}

li {
    width: 40vw;
    overflow-wrap: break-word;
    height: auto;
    font-size: large;
}

li.steak {
    color: salmon;
}

li.cookies {
    color: tan;
}

li.poppers {
    color: whitesmoke;
}